<!-- -*- mode: XML -*- -->
<!-- visualize Velodyne input as a point cloud (nodelet version) -->

<launch>

  <!-- start nodelet manager, driver and pointcloud nodelets -->
  <include file="$(find velodyne_common)/launch/nodelet_manager.launch" />
  <include file="$(find velodyne_common)/launch/pointcloud_nodelet.launch" />

  <node pkg="rviz" type="rviz" name="rviz" />

</launch>
