<!-- -*- mode: XML -*- -->
<!-- transform a Velodyne PCAP file into a point cloud in "/odom" frame

     environment: $PCAP = full path name of PCAP file.
-->

<launch>

  <param name="driver_nodelet/pcap" value="$(env PCAP)" />

  <!-- start nodelet manager, driver and transform nodelets
       run rviz as a separate node
    -->
  <include file="$(find velodyne_viz)/launch/transform.launch" />

</launch>
