<!-- -*- mode: XML -*- -->
<!-- visualize a Velodyne PCAP file as a point cloud (nodelet version)

     environment: $PCAP = full path name of PCAP file.
-->

<launch>

  <param name="driver_nodelet/pcap" value="$(env PCAP)" />

  <!-- start nodelet manager, driver and pointcloud nodelets -->
  <include file="$(find velodyne_common)/launch/nodelet_manager.launch" />
  <include file="$(find velodyne_common)/launch/pointcloud_nodelet.launch" />

  <node pkg="rviz" type="rviz" name="rviz" />

</launch>
