<!-- -*- mode: XML -*- -->
<!-- visualize a Velodyne PCAP file as a point cloud

     environment: $PCAP = full path name of PCAP file.
-->

<launch>
  <node pkg="velodyne_common" type="cloud" name="cloud"/>
  <node pkg="velodyne_common" type="read" name="read"
        args="-f $(env PCAP)" />
  <node pkg="rviz" type="rviz" name="rviz" />
</launch>
