<!-- -*- mode: nXML -*- -->
<!-- visualize a PCAP file as a point cloud

     environment: $PCAP = full path name of PCAP file.
-->

<launch>
  <node pkg="velodyne_common" type="cloud" name="cloud"/>
  <node pkg="velodyne_common" type="read" name="read"
        args="-f $(optenv PCAP /home/joq/velodyne/class.pcap)" />
  <node pkg="rviz" type="rviz" name="rviz" />
</launch>
