<!-- -*- mode: XML -*- -->
<!-- start velodyne_common/ConvertRawScan in a nodelet manager

     Useful when playing back a bag with /velodyne/rawscan messages.

     $Id$
  -->

<launch>

  <!-- start nodelet manager, loading conversion nodelet -->
  <node pkg="nodelet" type="nodelet" name="velodyne_nodelet_manager"
        args="manager" />
  <node pkg="nodelet" type="nodelet" name="convert_rawscan_nodelet"
        args="load velodyne_common/ConvertRawScan velodyne_nodelet_manager" />

</launch>
