<!-- -*- mode: XML -*- -->
<!-- run velodyne_common/PointCloudNodelet in a nodelet manager

     $Id$
  -->

<launch>

  <!-- start nodelet manager and driver -->
  <include file="$(find velodyne_common)/launch/nodelet_manager.launch" />

  <node pkg="nodelet" type="nodelet" name="pointcloud_nodelet"
        args="load velodyne_common/PointCloudNodelet velodyne_nodelet_manager" />

</launch>
