<!-- -*- mode: XML -*- -->
<!-- start velodyne_common/ConvertRawScan in a nodelet manager

     This is useful for playing back bags recorded in the old RawScan
     data format. It does not actually play the bag, run a separate
     "rosbag play" for that.

     $Id$
  -->

<launch>

  <!-- start nodelet manager, RawScan conversion nodelet -->
  <node pkg="nodelet" type="nodelet" name="velodyne_nodelet_manager"
        args="manager" />
  <node pkg="nodelet" type="nodelet" name="convert_rawscan"
        args="load velodyne_common/ConvertRawScan velodyne_nodelet_manager" />

</launch>
