<launch>

  <!-- calibration file path -->
  <arg name="velodyne_calib" default="$(find velodyne_pointcloud)/params/32db.yaml"/>

<group ns="lidar_0">
    <!-- HDL close -->
    <include file="$(find velodyne_pointcloud)/launch/32e_points.launch">
      <arg name="calibration" value="$(arg velodyne_calib)"/>
      <arg name="device_ip" value="192.168.125.201"/>
      <arg name="frame_id" value="lidar_0"/>
      <arg name="port" value="2368"/>
    </include>
</group>

</launch>
