<!-- -*- mode: XML -*- -->
<!-- multiple ringcomp nodelet launch

     This test launches multiple copies of the ringcomp
     nodelet in a single nodelet manager process.
-->

<launch>

  <!-- launch nodelet manager, driver and transform -->
  <include file="$(find velodyne_common)/launch/nodelet_manager.launch" />
  <include file="$(find velodyne_common)/launch/transform.launch" />

  <node pkg="nodelet" type="nodelet" name="ringcomp_nodelet"
        args="load velodyne_ringcomp/RingCompNodelet velodyne_nodelet_manager" />

  <node pkg="nodelet" type="nodelet" name="ringcomp_nodelet2"
        args="load velodyne_ringcomp/RingCompNodelet velodyne_nodelet_manager" >
    <remap from="velodyne/obstacles" to="velodyne/obstacles2" /> 
  </node>

  <node pkg="nodelet" type="nodelet" name="ringcomp_nodelet3"
        args="load velodyne_ringcomp/RingCompNodelet velodyne_nodelet_manager" >
    <remap from="velodyne/obstacles" to="velodyne/obstacles3" /> 
  </node>

  <node pkg="nodelet" type="nodelet" name="ringcomp_nodelet4"
        args="load velodyne_ringcomp/RingCompNodelet velodyne_nodelet_manager" >
    <remap from="velodyne/obstacles" to="velodyne/obstacles4" /> 
  </node>

  <node pkg="nodelet" type="nodelet" name="ringcomp_nodelet5"
        args="load velodyne_ringcomp/RingCompNodelet velodyne_nodelet_manager" >
    <remap from="velodyne/obstacles" to="velodyne/obstacles5" /> 
  </node>

  <node pkg="nodelet" type="nodelet" name="ringcomp_nodelet6"
        args="load velodyne_ringcomp/RingCompNodelet velodyne_nodelet_manager" >
    <remap from="velodyne/obstacles" to="velodyne/obstacles6" /> 
  </node>

</launch>
